:root {

  --THEME_COLOR_MODULE_ONE_STRONG: #F3954a;
  --THEME_COLOR_MODULE_ONE_LIGHT: #fbd5ba;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #f4f2f7;
  --THEME_COLOR_MODULE_ONE_EXTRA: #ff9d00;
  --THEME_COLOR_MODULE_ONE_THIN: #ffeef6;
  --THEME_COLOR_MODULE_ONE: #17253f;
  --THEME_COLOR_MODULE_ONE_ALPHA: #17253f33;
  --THEME_FONT_COLOR: #17253f;

  }
  